@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light.woff") format("woff"), url("../fonts/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Semi';
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold.woff") format("woff"), url("../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Extra';
  src: url("../fonts/Exo2-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Extra';
  src: url("../fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/Exo2-ExtraBold.woff") format("woff"), url("../fonts/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #28292B; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  a:hover {
    text-decoration: none; }

i.ico {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center; }

svg {
  vertical-align: baseline;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

img {
  max-width: 100%;
  max-height: 100%; }

.button {
  height: 48px;
  display: block;
  border-radius: 28px;
  text-align: center;
  cursor: pointer; }
  .button-green {
    color: #ffffff;
    background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
  .button-grey {
    color: #807F86;
    font-size: 14px;
    cursor: pointer;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #E6E5EC;
    font-family: 'Exo 2 Semi', sans-serif;
    font-weight: 600;
    font-style: normal;
    background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
    .button-grey:hover {
      color: #807F86;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0);
      background: -webkit-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: -moz-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: -ms-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: -o-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%); }
    .button-grey:focus {
      color: #807F86;
      background: -webkit-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: -moz-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: -ms-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: -o-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%); }

.section-title {
  font-size: 18px;
  line-height: 24px;
  color: #28292B;
  letter-spacing: 0.17px;
  text-transform: uppercase;
  font-family: 'Exo 2 Extra', sans-serif;
  font-weight: 800;
  font-style: normal; }

.slick-disabled {
  cursor: default !important;
  background: #F5F6F7 !important; }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .rating .star {
    width: 12px;
    height: 12px;
    display: block;
    margin: 0 2px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../image/svg/toggle/star_border_24px.svg"); }
    .rating .star-check {
      background-image: url("../image/svg/toggle/star_24px.svg"); }
    .rating .star-half {
      background-image: url("../image/svg/toggle/star_half_24px.svg"); }

.preload .slick-dots li span.progress {
  width: 0 !important; }

.tabs-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.tabs-item {
  list-style: none;
  margin-right: 11px; }
  .tabs-item:last-child {
    margin-right: 0 !important; }
  .tabs-item a {
    color: #807F86;
    display: block;
    line-height: 63px;
    letter-spacing: 0.25px;
    font-family: 'Exo 2 Semi', sans-serif;
    font-weight: 600;
    font-style: normal; }
    .tabs-item a .ico {
      line-height: 0;
      margin-right: 7px;
      display: inline-block; }
    .tabs-item a:hover {
      color: #25A96A; }
    .tabs-item a.active {
      color: #25A96A;
      position: relative; }
      .tabs-item a.active:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        top: auto;
        bottom: 0;
        height: 4px;
        background-color: #25C277; }

.company-card {
  width: 184px;
  height: 224px;
  border-radius: 6px;
  padding-top: 20px;
  position: relative;
  box-shadow: 0 0 0 1px #F1F2F4; }
  .company-card .branch {
    width: 56px;
    height: 56px;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 24px;
    color: #FFB90C;
    padding-top: 14px;
    font-family: 'Exo 2 Extra', sans-serif;
    font-weight: 800;
    font-style: normal; }
    .company-card .branch.gold {
      background-image: url("../image/svg/56x56/wreath.svg");
      background-repeat: no-repeat;
      background-position: center center; }
  .company-card .logo {
    width: 80px;
    height: 40px;
    margin: 0 auto 10px; }
  .company-card .links {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .company-card .links a {
      height: 48px;
      line-height: 48px;
      text-align: center;
      display: block;
      width: 50%;
      text-transform: uppercase;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal; }
      .company-card .links a.review {
        color: #728198;
        padding-right: 5px; }
      .company-card .links a.site {
        color: #807F86;
        position: relative;
        padding-right: 3px;
        background: -webkit-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: -moz-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: -ms-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: -o-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%); }
        .company-card .links a.site:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          width: 0;
          height: 0;
          margin-left: -10px;
          border-bottom: 48px solid #F9FAFB;
          border-left: 10px solid transparent; }

.forecast-card {
  height: 64px;
  padding: 0 17px 0 12px;
  position: relative;
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .forecast-card > div {
    position: relative;
    z-index: 10; }
  .forecast-card .bg {
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .forecast-card .league {
    width: 14%; }
    .forecast-card .league .ico {
      width: 23px;
      height: 23px;
      text-align: center;
      display: inline-block; }
    .forecast-card .league .name {
      color: #807F86;
      letter-spacing: 0.25px;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
      font-style: normal; }
  .forecast-card .team {
    width: 33%; }
    .forecast-card .team .logo {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 14px; }
    .forecast-card .team .name {
      color: #28292B;
      letter-spacing: 0.25px;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal; }
    .forecast-card .team-first {
      text-align: right; }
      .forecast-card .team-first .logo {
        margin-right: 0;
        margin-left: 14px; }
  .forecast-card .match {
    width: 6%;
    text-align: center; }
    .forecast-card .match .date {
      font-size: 12px;
      line-height: 16px;
      color: #807F86;
      letter-spacing: 0.4px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 500;
      font-style: normal; }
    .forecast-card .match .time {
      color: #28292B;
      letter-spacing: 0.25px;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal; }
  .forecast-card .company {
    width: 7%;
    text-align: right;
    padding-right: 6px; }
    .forecast-card .company .logo {
      width: 56px;
      display: inline-block; }
  .forecast-card .value {
    width: 7%;
    text-align: right; }
    .forecast-card .value .mask {
      width: 71px;
      height: 28px;
      padding-left: 14px;
      display: inline-block;
      line-height: 28px;
      text-align: center;
      color: #28292B;
      letter-spacing: 0.25px;
      background-image: url("../image/value.png");
      font-family: 'Exo 2 Extra', sans-serif;
      font-weight: 800;
      font-style: italic; }
  .forecast-card:after {
    z-index: 1;
    background: -webkit-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -ms-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -o-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    top: auto;
    bottom: 0; }
  .forecast-card:hover {
    z-index: 10;
    box-shadow: 0 30px 40px 0 rgba(10, 31, 68, 0.1); }
    .forecast-card:hover .bg {
      opacity: 1; }
  .forecast-card.premium .bg:after {
    background: -webkit-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -o-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    top: auto;
    bottom: 0; }
  .forecast-card.premium:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    width: 2px;
    height: 100%;
    background-color: #FFB90C; }

.betting-center-card {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 4px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .betting-center-card .head {
    height: 32px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 6px 6px 0 0;
    background: -webkit-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -moz-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -ms-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -o-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .betting-center-card .head .league .logo {
      width: 16px;
      height: 16px;
      line-height: 0;
      margin-right: 8px;
      display: inline-block; }
    .betting-center-card .head .league .name {
      display: inline-block;
      color: #807F86;
      letter-spacing: 0.4px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 500;
      font-style: normal; }
    .betting-center-card .head .time {
      margin-left: auto;
      color: #28292B;
      font-family: 'Exo 2 Extra', sans-serif;
      font-weight: 800;
      font-style: normal; }
  .betting-center-card .body {
    height: 64px;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .betting-center-card .body .matches {
      width: 208px;
      padding: 12px 0; }
      .betting-center-card .body .matches .team {
        height: 20px;
        padding-left: 11px;
        padding-right: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .betting-center-card .body .matches .team .logo {
          width: 16px;
          height: 16px;
          line-height: 0;
          margin-right: 11px; }
        .betting-center-card .body .matches .team .name {
          color: #28292B;
          letter-spacing: 0.25px;
          font-family: 'Exo 2 Semi', sans-serif;
          font-weight: 600;
          font-style: normal; }
        .betting-center-card .body .matches .team .score {
          margin-left: auto;
          color: #28292B;
          letter-spacing: 0.25px;
          font-family: 'Exo 2', sans-serif;
          font-weight: normal;
          font-style: normal; }
    .betting-center-card .body .bet {
      width: 48px;
      font-size: 12px;
      line-height: 16px;
      border-left: 1px solid #E6E5EC;
      letter-spacing: 0.4px;
      padding-top: 14px;
      text-align: center;
      background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
      .betting-center-card .body .bet .type {
        margin-bottom: 4px;
        color: #807F86;
        font-family: 'Exo 2', sans-serif;
        font-weight: 500;
        font-style: normal; }
      .betting-center-card .body .bet .value {
        color: #28292B;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
      .betting-center-card .body .bet:hover {
        background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
        .betting-center-card .body .bet:hover .type, .betting-center-card .body .bet:hover .value {
          color: #ffffff; }
  .betting-center-card:hover {
    position: relative;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 30px 40px 0 rgba(10, 31, 68, 0.1); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 88px; }
  .header .logo {
    margin-right: 134px; }
    .header .logo a img {
      max-width: 122px; }
  .header .general-menu ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .general-menu ul li {
      list-style: none;
      margin-right: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .general-menu ul li a {
        display: block;
        position: relative;
        color: #54535A;
        line-height: 88px;
        text-transform: uppercase;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }
        .header .general-menu ul li a svg {
          fill: #BABFC9; }
        .header .general-menu ul li a:hover {
          color: #25A96A; }
          .header .general-menu ul li a:hover svg {
            fill: #25A96A; }
      .header .general-menu ul li.premium a {
        color: #FFB90C; }
        .header .general-menu ul li.premium a svg {
          fill: #FFB90C; }
      .header .general-menu ul li.active a {
        color: #25A96A; }
        .header .general-menu ul li.active a:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 4px;
          background-color: #25C277; }
  .header .search {
    margin-left: auto; }
    .header .search-button {
      position: relative;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      overflow: hidden;
      border: 1px solid #E6E5EC;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0); }
      .header .search-button span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .header .search-button span.loop {
          background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
        .header .search-button span.cross {
          opacity: 0;
          background: -webkit-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: -moz-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: -ms-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: -o-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%); }
      .header .search-button.open .loop {
        opacity: 0; }
      .header .search-button.open .cross {
        opacity: 1; }
  .header .login {
    margin-left: auto; }
    .header .login-button {
      width: 100px;
      cursor: pointer;
      color: #ffffff;
      text-transform: uppercase;
      box-shadow: 0 1px 0 0 rgba(10, 66, 44, 0);
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
      font-style: normal;
      background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.forecast-slider {
  overflow: hidden;
  margin-right: -16px;
  border-radius: 6px 0 0 6px; }
  .forecast-slider .item {
    width: 800px;
    height: 320px;
    position: relative; }
    .forecast-slider .item .image {
      width: 100%;
      height: 100%; }
    .forecast-slider .item .mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6); }
    .forecast-slider .item .desc {
      left: 0;
      bottom: 0;
      font-size: 24px;
      z-index: 20;
      position: absolute;
      color: #ffffff;
      padding-left: 24px;
      padding-bottom: 41px;
      text-transform: uppercase; }
      .forecast-slider .item .desc span {
        color: #807F86;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }
      .forecast-slider .item .desc .title {
        margin-top: 9px;
        line-height: 30px;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
      .forecast-slider .item .desc .date {
        line-height: 32px;
        letter-spacing: initial;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-style: normal; }
    .forecast-slider .item .more {
      bottom: 0;
      right: 0;
      padding-bottom: 26px;
      padding-right: 26px;
      position: absolute;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .forecast-slider .item .more .circle {
        width: 64px;
        height: 64px;
        margin-left: 13px;
        border-radius: 50%;
        background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
  .forecast-slider .slick-dots {
    margin: 0;
    padding: 0 0 24px 24px;
    bottom: 0;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end; }
    .forecast-slider .slick-dots li {
      height: 8px;
      width: 32px;
      line-height: 0;
      list-style: none;
      margin-right: 6px;
      position: relative;
      align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .forecast-slider .slick-dots li span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        cursor: pointer; }
        .forecast-slider .slick-dots li span.item {
          z-index: 10;
          background-color: #807f86; }
        .forecast-slider .slick-dots li span.progress {
          width: 0;
          z-index: 5;
          border-radius: 0;
          background-color: #25D882;
          -webkit-transition: width 2s steps(32, end);
          -moz-transition: width 2s steps(32, end);
          -o-transition: width 2s steps(32, end);
          transition: width 2s steps(32, end); }
      .forecast-slider .slick-dots li:hover span {
        height: 8px; }
      .forecast-slider .slick-dots li.slick-active span.progress {
        z-index: 15;
        width: 100%; }

.company-slider {
  padding-top: 24px; }
  .company-slider .section-title {
    margin-bottom: 2px; }
  .company-slider .slider {
    margin-right: -16px; }
    .company-slider .slider .item {
      margin: 18px 15px 20px 1px; }
    .company-slider .slider .slick-arrow {
      top: 0;
      right: 0;
      height: 32px;
      width: 34px;
      position: absolute;
      border: 1px solid #E6E5EC;
      margin-top: -30px; }
      .company-slider .slider .slick-arrow.slick-prev {
        border-right: none;
        margin-right: 50px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px; }
      .company-slider .slider .slick-arrow.slick-next {
        margin-right: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px; }

.betting-center {
  height: 710px;
  position: relative;
  padding: 0 16px;
  border-top-right-radius: 6px;
  background: -webkit-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: -moz-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: -ms-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: -o-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%); }
  .betting-center .section-title {
    top: 19px;
    left: 16px;
    position: absolute; }
  .betting-center .tabs-list {
    justify-content: flex-end;
    border-bottom: 1px solid #E8EAED; }
  .betting-center .tab-content .tab-pane {
    padding-top: 15px; }

.forecast-area {
  padding: 22px 0;
  background: -webkit-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -moz-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -ms-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -o-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%); }
  .forecast-area .section-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .forecast-area .section-header .tabs-list {
      z-index: 10;
      margin-left: auto;
      margin-right: 17px; }
    .forecast-area .section-header .tabs-item {
      margin-right: 21px; }
      .forecast-area .section-header .tabs-item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .forecast-area .section-header:after {
      background: -webkit-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: -moz-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: -ms-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: -o-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      top: auto;
      bottom: 0; }
  .forecast-area .forecast-table {
    margin-bottom: 23px; }

/*# sourceMappingURL=style.css.map */
