@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light.woff") format("woff"), url("../fonts/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Semi';
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold.woff") format("woff"), url("../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Extra';
  src: url("../fonts/Exo2-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Extra';
  src: url("../fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/Exo2-ExtraBold.woff") format("woff"), url("../fonts/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
body {
  font-size: 14px;
  line-height: 20px;
  color: #28292B; }

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover {
    text-decoration: none; }

i.ico {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center; }

svg {
  max-width: 100%;
  max-height: 100%;
  vertical-align: baseline;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: text-bottom; }

section {
  padding: 40px 0; }

h1, h2, h3, h4 {
  margin: 0; }

.ico, .logo {
  line-height: 0;
  display: inline-block; }

.menu {
  position: relative; }
  .menu ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .menu ul li {
      list-style: none;
      margin-right: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .menu ul li a {
        display: block;
        position: relative;
        letter-spacing: 0.75px;
        text-transform: uppercase; }
        .menu ul li a:hover {
          color: #25A96A !important; }
          .menu ul li a:hover svg {
            fill: #25A96A !important; }
      .menu ul li.premium a {
        color: #FFB90C !important; }
        .menu ul li.premium a svg {
          fill: #FFB90C !important; }
      .menu ul li:last-child {
        margin-right: 0 !important; }

.tabs-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.tabs-item {
  list-style: none;
  margin-right: 11px; }
  .tabs-item:last-child {
    margin-right: 0 !important; }
  .tabs-item a {
    color: #807F86;
    display: block;
    line-height: 63px;
    letter-spacing: 0.25px;
    font-family: 'Exo 2 Semi', sans-serif;
    font-weight: 600;
    font-style: normal; }
    .tabs-item a .ico {
      margin-right: 7px; }
    .tabs-item a:hover {
      color: #25A96A; }
    .tabs-item a.active {
      color: #25A96A;
      position: relative; }
      .tabs-item a.active:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        top: auto;
        bottom: 0;
        height: 4px;
        background-color: #25C277; }

.slick-disabled {
  cursor: default !important;
  background: #F5F6F7 !important; }
  .slick-disabled svg {
    fill: #BABFC9 !important; }

.banner {
  height: 280px;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
  .banner-section {
    padding: 20px 0 0; }
  .banner:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02); }

.button {
  height: 48px;
  display: block;
  border-radius: 28px;
  text-align: center;
  cursor: pointer; }
  .button-green {
    color: #ffffff;
    background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
  .button-grey {
    color: #807F86;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #E6E5EC;
    font-family: 'Exo 2 Semi', sans-serif;
    font-weight: 600;
    font-style: normal;
    background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
    .button-grey:hover {
      color: #807F86;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0);
      background: -webkit-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: -moz-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: -ms-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: -o-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
      background: linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%); }
    .button-grey:focus {
      color: #807F86;
      background: -webkit-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: -moz-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: -ms-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: -o-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
      background: linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%); }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .rating .star {
    width: 12px;
    height: 12px;
    display: block;
    margin: 0 2px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../image/svg/toggle/star_border_24px.svg"); }
    .rating .star-check {
      background-image: url("../image/svg/toggle/star_24px.svg"); }
    .rating .star-half {
      background-image: url("../image/svg/toggle/star_half_24px.svg"); }

.section-title {
  margin-bottom: 24px; }
  .section-title h2 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #28292B;
    letter-spacing: 0.17px;
    text-transform: uppercase;
    font-family: 'Exo 2 Extra', sans-serif;
    font-weight: 800;
    font-style: normal; }
.section-more {
  padding-top: 24px; }

.preload .slick-dots li span.progress {
  width: 0 !important; }

.news-card {
  height: 328px;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 16px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .news-card .category {
    top: 0;
    left: 0;
    z-index: 20;
    position: absolute;
    padding-top: 24px;
    padding-left: 24px; }
    .news-card .category .tag {
      padding: 2px 8px;
      border-radius: 100px;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.3); }
      .news-card .category .tag .name {
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }
  .news-card .preview {
    width: 100%;
    position: relative; }
    .news-card .preview .mask, .news-card .preview .alpha, .news-card .preview .light {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute; }
    .news-card .preview .mask {
      z-index: 10;
      background-image: url("../image/mask/news-card-big.png"); }
    .news-card .preview .alpha {
      z-index: 5;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .news-card .preview .alpha .light {
        opacity: 1;
        z-index: 5;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background: -webkit-linear-gradient(0deg, #05162c 0%, rgba(5, 22, 44, 0.37) 46%, rgba(5, 22, 44, 0) 100%);
        background: -moz-linear-gradient(0deg, #05162c 0%, rgba(5, 22, 44, 0.37) 46%, rgba(5, 22, 44, 0) 100%);
        background: -ms-linear-gradient(0deg, #05162c 0%, rgba(5, 22, 44, 0.37) 46%, rgba(5, 22, 44, 0) 100%);
        background: -o-linear-gradient(0deg, #05162c 0%, rgba(5, 22, 44, 0.37) 46%, rgba(5, 22, 44, 0) 100%);
        background: linear-gradient(0deg, #05162c 0%, rgba(5, 22, 44, 0.37) 46%, rgba(5, 22, 44, 0) 100%); }
  .news-card .title {
    max-width: 400px;
    margin: 24px 24px 0;
    position: absolute;
    color: #ffffff;
    bottom: 57px;
    z-index: 20;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .news-card .title h3 {
      font-size: 24px;
      line-height: 30px;
      font-family: 'Exo 2 Extra', sans-serif;
      font-weight: 800;
      font-style: normal; }
    .news-card .title:hover {
      opacity: .8; }
  .news-card .info {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #807F86;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 24px 22px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between; }
    .news-card .info .date {
      margin-right: 3px; }
    .news-card .info .more {
      margin-left: auto;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .news-card .info .more svg {
        fill: #727B88; }
      .news-card .info .more:hover svg {
        fill: #25A96A; }
  .news-card:hover .preview .alpha {
    background-color: rgba(5, 22, 44, 0.5); }
  .news-card.size-custom {
    box-shadow: 0 0 0 1px #f1f2f4; }
    .news-card.size-custom .title {
      bottom: 0;
      position: relative;
      color: #28292B; }
      .news-card.size-custom .title:hover {
        opacity: 1;
        color: #727B88; }
    .news-card.size-custom:hover {
      box-shadow: 0 30px 40px rgba(10, 31, 68, 0.1), 0 0 1px rgba(10, 31, 68, 0.2); }
  .news-card.size-medium {
    height: 480px; }
    .news-card.size-medium .category {
      height: 48px;
      padding-top: 10px;
      padding-left: 12px;
      position: relative; }
      .news-card.size-medium .category .tag {
        background-color: #e8eaed; }
        .news-card.size-medium .category .tag .name {
          color: #807F86; }
    .news-card.size-medium .preview .mask {
      background-image: url("../image/mask/news-card-medium.png"); }
    .news-card.size-medium .title h3 {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.17px; }
  .news-card.size-small {
    height: 112px; }
    .news-card.size-small .category, .news-card.size-small .preview {
      display: none; }
    .news-card.size-small .title {
      margin-top: 20px; }
      .news-card.size-small .title h3 {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }

.bonus-card {
  width: 25%;
  height: 432px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 0 1px #f1f2f4;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .bonus-card .image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 30px auto 0; }
  .bonus-card .company {
    width: 80px;
    height: 40px;
    margin: 16px auto 0; }
    .bonus-card .company a:hover {
      opacity: .6; }
  .bonus-card .title {
    padding: 0 28px;
    margin-top: 8px;
    text-align: center; }
    .bonus-card .title a {
      color: #28292B; }
      .bonus-card .title a h3 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.17px;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
      .bonus-card .title a:hover {
        color: #727B88; }
  .bonus-card .countdown {
    left: 0;
    bottom: 28px;
    width: 100%;
    position: absolute; }
    .bonus-card .countdown .text {
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: 0.25px;
      color: #807F86;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
      font-style: normal; }
    .bonus-card .countdown .timer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .bonus-card .countdown .timer > div {
        text-align: center;
        color: #807F86;
        margin: 0 4px; }
        .bonus-card .countdown .timer > div div {
          font-size: 12px;
          letter-spacing: 0.4px;
          font-family: 'Exo 2', sans-serif;
          font-weight: 500;
          font-style: normal; }
        .bonus-card .countdown .timer > div span {
          width: 18px;
          height: 28px;
          line-height: 28px;
          margin-right: -1px;
          margin-bottom: 2px;
          border-radius: 2px;
          display: inline-block;
          letter-spacing: 0.25px;
          background-color: #E8EAED;
          font-family: 'Exo 2 Semi', sans-serif;
          font-weight: 600;
          font-style: normal; }
  .bonus-card.banner-card {
    width: 50%;
    z-index: 20;
    box-shadow: none; }
    .bonus-card.banner-card:after {
      content: none !important; }
  .bonus-card:hover {
    z-index: 10;
    box-shadow: 0 30px 40px rgba(10, 31, 68, 0.1), 0 0 1px rgba(10, 31, 68, 0.2); }
  .bonus-card:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 11px solid #25A96A;
    border-left: 11px solid transparent; }

.school-card {
  width: 197px;
  height: 197px;
  padding: 25px;
  display: block;
  position: relative;
  box-shadow: 0 0 0 1px #F1F2F4;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .school-card .mask {
    opacity: .7;
    background: url("../image/mask/school-card.png") no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute; }
  .school-card .image {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    position: relative; }
    .school-card .image .sport {
      top: -4px;
      left: 0;
      z-index: 10;
      width: 24px;
      height: 24px;
      position: absolute;
      background-color: #fff;
      overflow: hidden;
      border-radius: 50%;
      text-align: center; }
    .school-card .image .preview {
      overflow: hidden;
      border-radius: 50%; }
  .school-card .title {
    padding-top: 19px;
    position: relative; }
    .school-card .title h3 {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #28292B;
      letter-spacing: 0.25px;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
  .school-card:hover {
    box-shadow: 0 30px 40px rgba(10, 31, 68, 0.1), 0 0 1px rgba(10, 31, 68, 0.2); }
    .school-card:hover .title h3 {
      color: #727B88; }

.company-card {
  width: 184px;
  height: 224px;
  overflow: hidden;
  border-radius: 6px;
  padding-top: 20px;
  position: relative;
  box-shadow: 0 0 0 1px #F1F2F4;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .company-card .branch {
    width: 56px;
    height: 56px;
    font-size: 24px;
    padding-top: 14px;
    text-align: center;
    margin: 0 auto 10px;
    color: #727B88;
    font-family: 'Exo 2 Extra', sans-serif;
    font-weight: 800;
    font-style: normal;
    position: relative; }
    .company-card .branch .ico {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute; }
      .company-card .branch .ico svg {
        fill: #727B88; }
    .company-card .branch.gold {
      color: #FFB90C; }
      .company-card .branch.gold .ico svg {
        fill: #FFB90C; }
  .company-card .logo {
    width: 80px;
    height: 40px;
    display: block;
    margin: 0 auto 10px; }
  .company-card .links {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .company-card .links a {
      height: 48px;
      line-height: 48px;
      text-align: center;
      display: block;
      width: 50%;
      transition: none;
      text-transform: uppercase;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal; }
      .company-card .links a.review {
        color: #728198;
        padding-right: 5px; }
      .company-card .links a.site {
        color: #807F86;
        position: relative;
        padding-right: 3px;
        background: -webkit-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: -moz-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: -ms-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: -o-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
        background: linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%); }
        .company-card .links a.site:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          width: 0;
          height: 0;
          margin-left: -10px;
          border-bottom: 48px solid #F9FAFB;
          border-left: 10px solid transparent; }
        .company-card .links a.site:hover {
          color: #fff;
          background: none;
          background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
          background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
          background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
          background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
          background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
          .company-card .links a.site:hover:before {
            border-bottom-color: #2EC652; }
  .company-card:hover {
    box-shadow: 0 30px 40px rgba(10, 31, 68, 0.1), 0 0 1px rgba(10, 31, 68, 0.2); }

.forecast-card {
  height: 64px;
  padding: 0 17px 0 12px;
  position: relative;
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .forecast-card > div {
    position: relative;
    z-index: 10; }
  .forecast-card .bg {
    opacity: 0;
    z-index: 5;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute; }
  .forecast-card .league {
    width: 14%; }
    .forecast-card .league .ico {
      width: 23px;
      height: 23px;
      text-align: center; }
    .forecast-card .league .name {
      color: #807F86;
      letter-spacing: 0.25px;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
      font-style: normal; }
  .forecast-card .team {
    width: 33%; }
    .forecast-card .team .logo {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 14px; }
    .forecast-card .team .name {
      color: #28292B;
      letter-spacing: 0.25px;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal; }
    .forecast-card .team-first {
      text-align: right; }
      .forecast-card .team-first .logo {
        margin-right: 0;
        margin-left: 14px; }
  .forecast-card .match {
    width: 6%;
    text-align: center; }
    .forecast-card .match .date {
      font-size: 12px;
      line-height: 16px;
      color: #807F86;
      letter-spacing: 0.4px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 500;
      font-style: normal; }
    .forecast-card .match .time {
      color: #28292B;
      letter-spacing: 0.25px;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal; }
  .forecast-card .company {
    width: 7%;
    text-align: right;
    padding-right: 6px; }
    .forecast-card .company .logo {
      width: 56px;
      display: inline-block; }
  .forecast-card .value {
    width: 7%;
    text-align: right; }
    .forecast-card .value .ceff {
      width: 71px;
      height: 28px;
      padding-left: 14px;
      display: inline-block;
      line-height: 28px;
      text-align: center;
      color: #28292B;
      letter-spacing: 0.25px;
      background-image: url("../image/ico/ceff.png");
      background-size: 100% 100%;
      font-family: 'Exo 2 Extra', sans-serif;
      font-weight: 800;
      font-style: italic;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
  .forecast-card.premium .value .ceff {
    position: relative; }
    .forecast-card.premium .value .ceff:after {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      top: -13px;
      right: -13px;
      left: auto;
      width: 30px;
      height: 30px;
      background-image: url("../image/ico/crown-ceff-white.png");
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat; }
  .forecast-card.premium .bg:after {
    background: -webkit-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -o-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    top: auto;
    bottom: 0; }
  .forecast-card.premium:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    width: 2px;
    height: 100%;
    background-color: #FFB90C; }
  .forecast-card:after {
    z-index: 1;
    background: -webkit-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -ms-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -o-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    top: auto;
    bottom: 0; }
  .forecast-card:hover {
    z-index: 10;
    box-shadow: 0 30px 40px rgba(10, 31, 68, 0.1); }
    .forecast-card:hover .bg {
      opacity: 1; }
    .forecast-card:hover .value .ceff {
      color: #ffffff;
      background-image: url("../image/ico/ceff-green.png"); }
    .forecast-card:hover.premium .value .ceff {
      background-image: url("../image/ico/ceff-gold.png"); }
      .forecast-card:hover.premium .value .ceff:after {
        background-image: url("../image/ico/crown-ceff-gold.png"); }

.stavkatv-item .video {
  height: 216px;
  margin-bottom: 24px; }
  .stavkatv-item .video iframe {
    max-width: 100%;
    max-height: 100%; }
.stavkatv-item .title {
  padding: 0 20px;
  margin-bottom: 16px; }
  .stavkatv-item .title h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.14px;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-style: normal; }
.stavkatv-item .date {
  color: #728198;
  font-size: 12px;
  padding: 0 20px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-family: 'Exo 2 Semi', sans-serif;
  font-weight: 600;
  font-style: normal; }

.betting-center-card {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 4px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .betting-center-card .head {
    height: 32px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 6px 6px 0 0;
    background: -webkit-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -moz-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -ms-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -o-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .betting-center-card .head .league .logo {
      width: 16px;
      height: 16px;
      margin-right: 8px; }
    .betting-center-card .head .league .name {
      display: inline-block;
      color: #807F86;
      letter-spacing: 0.4px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 500;
      font-style: normal; }
    .betting-center-card .head .time {
      margin-left: auto;
      color: #28292B;
      font-family: 'Exo 2 Extra', sans-serif;
      font-weight: 800;
      font-style: normal; }
  .betting-center-card .body {
    height: 64px;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .betting-center-card .body .matches {
      width: 208px;
      padding: 12px 0; }
      .betting-center-card .body .matches .team {
        height: 20px;
        padding-left: 11px;
        padding-right: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .betting-center-card .body .matches .team .logo {
          width: 16px;
          height: 16px;
          margin-right: 11px; }
        .betting-center-card .body .matches .team .name {
          color: #28292B;
          letter-spacing: 0.25px;
          font-family: 'Exo 2 Semi', sans-serif;
          font-weight: 600;
          font-style: normal; }
        .betting-center-card .body .matches .team .score {
          margin-left: auto;
          color: #28292B;
          letter-spacing: 0.25px;
          font-family: 'Exo 2', sans-serif;
          font-weight: normal;
          font-style: normal; }
    .betting-center-card .body .bet {
      width: 48px;
      font-size: 12px;
      line-height: 16px;
      border-left: 1px solid #E6E5EC;
      letter-spacing: 0.4px;
      padding-top: 14px;
      text-align: center;
      background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
      background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
      .betting-center-card .body .bet .type {
        margin-bottom: 4px;
        color: #807F86;
        font-family: 'Exo 2', sans-serif;
        font-weight: 500;
        font-style: normal; }
      .betting-center-card .body .bet .value {
        color: #28292B;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
      .betting-center-card .body .bet:hover {
        background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
        .betting-center-card .body .bet:hover .type, .betting-center-card .body .bet:hover .value {
          color: #ffffff; }
  .betting-center-card:hover {
    position: relative;
    box-shadow: 0 30px 40px rgba(10, 31, 68, 0.1), 0 0 1px rgba(10, 31, 68, 0.2); }

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header .header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 88px; }
  header .header .logo {
    width: 122px;
    margin-right: 134px; }
  header .header .menu li a {
    color: #54535A;
    line-height: 88px;
    font-family: 'Exo 2 Semi', sans-serif;
    font-weight: 600;
    font-style: normal; }
    header .header .menu li a svg {
      fill: #BABFC9; }
  header .header .menu li.active a {
    color: #25A96A; }
    header .header .menu li.active a:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      background-color: #25C277; }
  header .header .search {
    margin-left: auto;
    margin-right: -32px; }
    header .header .search-button {
      position: relative;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      overflow: hidden;
      border: 1px solid #E6E5EC;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0); }
      header .header .search-button span {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        header .header .search-button span.loop {
          background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
        header .header .search-button span.cross {
          opacity: 0;
          background: -webkit-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: -moz-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: -ms-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: -o-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
          background: linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%); }
      header .header .search-button.open .loop {
        opacity: 0; }
      header .header .search-button.open .cross {
        opacity: 1; }
  header .header .login {
    margin-left: auto; }
    header .header .login-button {
      width: 100px;
      line-height: 48px;
      padding-right: 9px;
      color: #ffffff;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      box-shadow: 0 1px 0 rgba(10, 66, 44, 0.16);
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal;
      background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header .header .login-button svg {
        width: 24px;
        height: 24px;
        fill: #ffffff;
        margin-right: 3px; }

footer {
  padding: 30px 0 44px;
  background-color: #121417; }
  footer .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer-row-one {
      margin-bottom: 68px; }
    footer .footer-row-two {
      margin-bottom: 36px; }
  footer .footer .logo {
    width: 126px;
    margin-right: 154px; }
  footer .footer .menu li {
    margin-right: 24px; }
    footer .footer .menu li a {
      color: #BABFC9;
      font-family: 'Exo 2', sans-serif;
      font-weight: 500;
      font-style: normal; }
  footer .footer .pages {
    left: 0;
    width: 100%;
    bottom: -37px;
    position: absolute;
    text-align: center; }
    footer .footer .pages a {
      margin: 0 8px;
      color: #515867;
      letter-spacing: 0.75px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 500;
      font-style: normal; }
      footer .footer .pages a:hover {
        color: #ffffff; }
  footer .footer .social {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer .social-item {
      width: 38px;
      height: 38px;
      display: block;
      margin-left: 10px;
      border-radius: 50%;
      background-color: #2D3239;
      letter-spacing: 0.15px;
      color: #BABFC9;
      font-size: 16px;
      line-height: 38px;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-weight: 700; }
      footer .footer .social-item .ico {
        width: 24px;
        height: 24px;
        margin-top: 7px; }
        footer .footer .social-item .ico svg {
          fill: #ffffff; }
      footer .footer .social-item.age {
        margin-left: 30px;
        position: relative; }
        footer .footer .social-item.age:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          top: 50%;
          margin-top: -10px;
          margin-left: -15px;
          width: 2px;
          height: 20px;
          background-color: #2D3239; }
      footer .footer .social-item:hover.vk svg {
        fill: #45668e !important; }
      footer .footer .social-item:hover.tw svg {
        fill: #1da1f2 !important; }
      footer .footer .social-item:hover.facebook svg {
        fill: #3b5998 !important; }
      footer .footer .social-item:hover.ok svg {
        fill: #ed812b !important; }
  footer .footer .services {
    color: #515867;
    max-width: 50%;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-style: normal; }
    footer .footer .services a {
      color: #BABFC9; }
      footer .footer .services a:hover {
        color: #ffffff; }
    footer .footer .services:last-child {
      margin-left: auto;
      text-align: right; }

.top-section {
  padding: 0; }

.company-slider {
  padding-top: 24px; }
  .company-slider .section-title {
    margin-bottom: 2px; }
  .company-slider .slider {
    margin-right: -16px; }
    .company-slider .slider .item {
      margin: 18px 15px 20px 1px; }
    .company-slider .slider .slick-arrow {
      top: -30px;
      right: 0;
      width: 34px;
      height: 32px;
      line-height: 44px;
      position: absolute;
      cursor: pointer;
      border: 1px solid #E6E5EC; }
      .company-slider .slider .slick-arrow svg {
        width: 24px;
        height: 24px;
        fill: #727B88; }
      .company-slider .slider .slick-arrow.slick-prev {
        border-right: none;
        margin-right: 50px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px; }
      .company-slider .slider .slick-arrow.slick-next {
        margin-right: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px; }

.betting-center {
  height: 710px;
  position: relative;
  padding: 0 16px;
  border-top-right-radius: 6px;
  background: -webkit-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: -moz-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: -ms-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: -o-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  background: linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%); }
  .betting-center .section-title {
    top: 19px;
    left: 16px;
    position: absolute; }
  .betting-center .tabs-list {
    justify-content: flex-end;
    border-bottom: 1px solid #E8EAED; }
  .betting-center .tab-content .tab-pane {
    padding-top: 15px; }

.forecast-slider {
  overflow: hidden;
  margin-right: -16px;
  border-radius: 6px 0 0 6px; }
  .forecast-slider .item {
    width: 800px;
    height: 320px;
    position: relative;
    letter-spacing: 0.75px; }
    .forecast-slider .item .image {
      width: 100%;
      height: 100%; }
    .forecast-slider .item .mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: -moz-linear-gradient(top, rgba(35, 34, 40, 0.2) 0%, #232228 100%);
      background: -webkit-linear-gradient(top, rgba(35, 34, 40, 0.2) 0%, #232228 100%);
      background: linear-gradient(to bottom, rgba(35, 34, 40, 0.2) 0%, #232228 100%); }
      .forecast-slider .item .mask:after, .forecast-slider .item .mask:before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute; }
      .forecast-slider .item .mask:after {
        background-image: url("../image/mask/forecast.png"); }
      .forecast-slider .item .mask:before {
        opacity: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background-color: rgba(35, 34, 40, 0.3); }
    .forecast-slider .item .desc {
      left: 0;
      bottom: 0;
      font-size: 24px;
      z-index: 20;
      position: absolute;
      color: #ffffff;
      padding-left: 24px;
      padding-bottom: 41px;
      text-transform: uppercase; }
      .forecast-slider .item .desc span {
        color: #807F86;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }
      .forecast-slider .item .desc .title {
        margin-top: 9px;
        line-height: 30px;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
      .forecast-slider .item .desc .date {
        line-height: 32px;
        letter-spacing: initial;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-style: normal; }
    .forecast-slider .item .more {
      bottom: 0;
      right: 0;
      padding-bottom: 26px;
      padding-right: 26px;
      position: absolute;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .forecast-slider .item .more .circle {
        width: 64px;
        height: 64px;
        margin-left: 13px;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 1px 0 rgba(10, 66, 44, 0.16);
        background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
        .forecast-slider .item .more .circle svg {
          width: 16px;
          height: 16px;
          fill: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -8px;
          margin-left: -8px; }
@keyframes move1 {
  0% {
    opacity: 0.3; }
  25% {
    opacity: 1; }
  50%, 100% {
    opacity: .3; } }
@keyframes move2 {
  0%, 25% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  75%, 100% {
    opacity: .3; } }
@keyframes move3 {
  0%, 50% {
    opacity: 0.3; }
  75% {
    opacity: 1; }
  100% {
    opacity: .3; } }
          .forecast-slider .item .more .circle svg:first-child {
            animation: move1 1s linear infinite; }
          .forecast-slider .item .more .circle svg:nth-child(2) {
            animation: move2 1s linear infinite; }
          .forecast-slider .item .more .circle svg:nth-child(3) {
            animation: move3 1s linear infinite; }
      .forecast-slider .item .more:hover .circle svg:first-child {
        margin-left: -25px; }
      .forecast-slider .item .more:hover .circle svg:nth-child(3) {
        margin-left: 9px; }
      .forecast-slider .item .more:hover .circle svg:last-child {
        display: none; }
    .forecast-slider .item:hover .mask:before {
      opacity: 1; }
  .forecast-slider .slick-dots {
    margin: 0;
    padding: 0 0 24px 24px;
    bottom: 0;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end; }
    .forecast-slider .slick-dots li {
      height: 8px;
      width: 32px;
      line-height: 0;
      list-style: none;
      margin-right: 6px;
      position: relative;
      align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .forecast-slider .slick-dots li span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        cursor: pointer; }
        .forecast-slider .slick-dots li span.item {
          z-index: 10;
          background-color: #807f86; }
        .forecast-slider .slick-dots li span.progress {
          width: 0;
          z-index: 5;
          border-radius: 0;
          background-color: #25D882;
          -webkit-transition: width 2s steps(32, end);
          -moz-transition: width 2s steps(32, end);
          -o-transition: width 2s steps(32, end);
          transition: width 2s steps(32, end); }
      .forecast-slider .slick-dots li:hover span {
        height: 8px; }
      .forecast-slider .slick-dots li.slick-active span.progress {
        z-index: 15;
        width: 100%; }

.forecast-section {
  padding-top: 22px;
  background: -webkit-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -moz-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -ms-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -o-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%); }
  .forecast-section .section-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .forecast-section .section-header .section-title {
      margin-bottom: 0; }
    .forecast-section .section-header .tabs-list {
      z-index: 10;
      margin-left: auto;
      margin-right: 17px; }
    .forecast-section .section-header .tabs-item {
      margin-right: 21px; }
      .forecast-section .section-header .tabs-item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .forecast-section .section-header:after {
      background: -webkit-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: -moz-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: -ms-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: -o-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      background: linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      top: auto;
      bottom: 0; }

.school-section .school-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news-section .section-more {
  padding-top: 7px; }

.bonuses-section {
  background: -webkit-linear-gradient(to top, rgba(249, 250, 250, 0) 0%, #eaecf0 100%);
  background: -moz-linear-gradient(to top, rgba(249, 250, 250, 0) 0%, #eaecf0 100%);
  background: -ms-linear-gradient(to top, rgba(249, 250, 250, 0) 0%, #eaecf0 100%);
  background: -o-linear-gradient(to top, rgba(249, 250, 250, 0) 0%, #eaecf0 100%);
  background: linear-gradient(to top, rgba(249, 250, 250, 0) 0%, #eaecf0 100%); }
  .bonuses-section .bonuses-list .bonus-card {
    float: left; }

.stavkatv-section {
  min-height: 745px;
  margin-top: 17px;
  overflow: hidden;
  position: relative;
  background-color: #1b1d22;
  background-image: url("../image/mask/plus.png"); }
  .stavkatv-section .section-header {
    padding-top: 41px;
    position: relative; }
    .stavkatv-section .section-header .logo {
      width: 157px;
      margin-bottom: 24px; }
    .stavkatv-section .section-header .title {
      margin-bottom: 17px; }
      .stavkatv-section .section-header .title h2 {
        font-size: 34px;
        max-width: 330px;
        line-height: 44px;
        color: #ffffff;
        letter-spacing: 0.25px;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
    .stavkatv-section .section-header .link {
      padding: 23px 0;
      margin-bottom: 30px; }
      .stavkatv-section .section-header .link a {
        position: relative;
        display: inline-block; }
        .stavkatv-section .section-header .link a .play {
          width: 64px;
          height: 64px;
          display: block;
          position: absolute;
          margin-top: -32px;
          top: 50%;
          left: 0; }
        .stavkatv-section .section-header .link a .name {
          padding-left: 78px;
          color: #ffffff;
          text-transform: uppercase;
          font-family: 'Exo 2 Semi', sans-serif;
          font-weight: 600;
          font-style: normal; }
  .stavkatv-section .container {
    position: relative; }
  .stavkatv-section .element-one {
    top: 40px;
    right: 45px;
    position: absolute; }
  .stavkatv-section .element-two {
    top: 82px;
    left: 50%;
    margin-left: -97px;
    position: absolute; }
  .stavkatv-section .element-three {
    top: 0;
    left: 0;
    position: absolute; }
.stavkatv-list {
  position: relative; }

/*# sourceMappingURL=style.css.map */
