// import
@import "scss/variables";
@import "scss/mixins";
@import "scss/fonts";

// elements
body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: $color-text;
}
a {
  @include transition();

  &:hover {
    text-decoration: none;
  }
}
i {
  &.ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
}
svg {
  vertical-align: baseline;
  @include transition();
}
img {
  max-width: 100%;
  max-height: 100%;
}
section {
  padding: 40px 0;
}
.tabs {
  &-list {
    margin: 0;
    padding: 0;
    @include flex();
  }
  &-item {
    list-style: none;
    margin-right: 11px;
    &:last-child {
      margin-right: 0 !important;
    }
    a {
      color: $color-text-grey;
      display: block;
      line-height: 63px;
      letter-spacing: 0.25px;
      @include fontExo2(SemiBold);
      .ico {
        line-height: 0;
        margin-right: 7px;
        display: inline-block;
      }
      &:hover {
        color: $green-dark;
      }
      &.active {
        color: $green-dark;
        position: relative;
        &:after {
          @include before-after();
          top: auto;
          bottom: 0;
          height: 4px;
          background-color: $green;
        }
      }
    }
  }
}
.button {
  height: 48px;
  display: block;
  border-radius: 28px;
  text-align: center;
  cursor: pointer;
  &-green {
    color: $white-text;
    @include gradient-green();

    &:hover {

    }
  }
  &-grey {
    color: $color-text-grey;
    font-size: 14px;
    cursor: pointer;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    border: $border;
    @include fontExo2(SemiBold);
    @include gradient-grey();
    &:hover {
      color: $color-text-grey;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0);
      @include gradient-grey(1);
    }
    &:focus {
      color: $color-text-grey;
      @include gradient-grey(2);
    }
  }
}
.section {
  &-title {
    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      color: $color-text;
      letter-spacing: 0.17px;
      text-transform: uppercase;
      @include fontExo2(ExtraBold);
    }
    margin-bottom: 24px;
  }
  &-more {
    padding-top: 24px;
  }
}
.slick {
  &-disabled {
    cursor: default !important;
    background: #F5F6F7 !important;
  }
}
.rating {
  @include flex(center);
  .star {
    width: 12px;
    height: 12px;
    display: block;
    margin: 0 2px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../image/svg/toggle/star_border_24px.svg");
    &-check {
      background-image: url("../image/svg/toggle/star_24px.svg");
    }
    &-half {
      background-image: url("../image/svg/toggle/star_half_24px.svg");
    }
  }
}
.preload {
  .slick-dots li span.progress {
    width: 0 !important;
  }
}
.banner {
  height: 280px;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  @include transition();
  @include gradient-green();
  &-section {
    padding: 20px 0;
  }
  &:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}

// cards
.company-card {
  width: 184px;
  height: 224px;
  border-radius: 6px;
  padding-top: 20px;
  position: relative;
  box-shadow: 0 0 0 1px #F1F2F4;
  .branch {
    width: 56px;
    height: 56px;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 24px;
    color: $gold;
    padding-top: 14px;
    @include fontExo2(ExtraBold);
    &.gold {
      background-image: url("../image/svg/56x56/wreath.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .logo {
    width: 80px;
    height: 40px;
    margin: 0 auto 10px;
  }
  .rating {
  }
  .links {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    @include flex();
    a {
      height: 48px;
      line-height: 48px;
      text-align: center;
      display: block;
      width: 50%;
      text-transform: uppercase;
      @include fontExo2(SemiBold);
      &.review {
        color: #728198;
        padding-right: 5px;
      }
      &.site {
        color: $color-text-grey;
        position: relative;
        padding-right: 3px;
        @include gradient-grey(3);

        &:before {
          @include before-after();
          width: 0;
          height: 0;
          margin-left: -10px;
          border-bottom: 48px solid #F9FAFB;
          border-left: 10px solid transparent;
        }
      }
    }
  }
}
.forecast-card {
  height: 64px;
  padding: 0 17px 0 12px;
  position: relative;
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.88%, rgba(255, 255, 255, 0) 100%);
  @include transition();
  @include flex(none, center);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  & > div {
    position: relative;
    z-index: 10;
  }
  .bg {
    opacity: 0;
    z-index: 5;
    background-color: #fff;
    @include transition();
    @include mask();
  }
  .league {
    width: 14%;
    .ico {
      width: 23px;
      height: 23px;
      text-align: center;
      display: inline-block;
    }
    .name {
      color: $color-text-grey;
      letter-spacing: 0.25px;
      @include fontExo2();
    }
  }
  .team {
    width: 33%;
    .logo {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 14px;
    }
    .name {
      color: $color-text;
      letter-spacing: 0.25px;
      @include fontExo2(SemiBold);
    }
    &-first {
      text-align: right;
      .logo {
        margin-right: 0;
        margin-left: 14px;
      }
    }
  }
  .match {
    width: 6%;
    text-align: center;
    .date {
      font-size: 12px;
      line-height: 16px;
      color: $color-text-grey;
      letter-spacing: 0.4px;
      @include fontExo2(Medium);
    }
    .time {
      color: $color-text;
      letter-spacing: 0.25px;
      @include fontExo2(SemiBold);
    }
  }
  .company {
    width: 7%;
    text-align: right;
    padding-right: 6px;
    .logo {
      width: 56px;
      display: inline-block;
    }
  }
  .value {
    width: 7%;
    text-align: right;
    .mask {
      width: 71px;
      height: 28px;
      padding-left: 14px;
      display: inline-block;
      line-height: 28px;
      text-align: center;
      color: $color-text;
      letter-spacing: 0.25px;
      background-image: url("../image/value.png");
      @include fontExo2(ExtraBoldItalic);
    }
  }
  &:after {
    z-index: 1;
    @include forecast-border();
  }
  &:hover {
    z-index: 10;
    box-shadow: 0 30px 40px 0 rgba(10, 31, 68, 0.1);
    .bg {
      opacity: 1;
    }
  }
  &.premium {
    .bg:after {
      @include forecast-border(gold);
    }
    &:before {
      @include before-after();
      width: 2px;
      height: 100%;
      background-color: $gold;
    }
  }
}
.school-card {
  width: 197px;
  height: 197px;
  padding: 25px;
  display: block;
  position: relative;
  box-shadow: 0 0 0 1px #F1F2F4;
  @include transition();
  .mask {
    opacity: .7;
    background: url("../image/mask-school.png") no-repeat center center;
    @include mask();
  }
  .image {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    position: relative;
    .sport {
      top: -4px;
      left: 0;
      z-index: 10;
      width: 24px;
      height: 24px;
      position: absolute;
      background-color: #fff;
      overflow: hidden;
      border-radius: 50%;
      text-align: center;
      img {

      }
    }
    .preview {
      overflow: hidden;
      border-radius: 50%;
      img {

      }
    }
  }
  .title {
    padding-top: 19px;
    position: relative;
    h3 {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $color-text;
      letter-spacing: 0.25px;
      @include fontExo2(SemiBold);
      @include transition();
    }
  }
  &:hover {
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 30px 40px 0 rgba(10, 31, 68, 0.1);
    .title h3 {
      color: $black-lightest;
    }
  }
}
.betting-center-card {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 4px;
  @include transition();
  .head {
    height: 32px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 6px 6px 0 0;
    @include gradient-grey(3);
    @include flex(none, center);
    .league {
      .logo {
        width: 16px;
        height: 16px;
        line-height: 0;
        margin-right: 8px;
        display: inline-block;
      }
      .name {
        display: inline-block;
        color: $color-text-grey;
        letter-spacing: 0.4px;
        @include fontExo2(Medium);
      }
    }
    .time {
      margin-left: auto;
      color: $color-text;
      @include fontExo2(ExtraBold);
    }
  }
  .body {
    height: 64px;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    @include flex();
    .matches {
      width: 208px;
      padding: 12px 0;
      .team {
        height: 20px;
        padding-left: 11px;
        padding-right: 17px;
        @include flex(none, center);
        .logo {
          width: 16px;
          height: 16px;
          line-height: 0;
          margin-right: 11px;
        }
        .name {
          color: $color-text;
          letter-spacing: 0.25px;
          @include fontExo2(SemiBold);
        }
        .score {
          margin-left: auto;
          color: $color-text;
          letter-spacing: 0.25px;
          @include fontExo2();
        }
      }
    }
    .bet {
      width: 48px;
      font-size: 12px;
      line-height: 16px;
      border-left: $border;
      letter-spacing: 0.4px;
      padding-top: 14px;
      text-align: center;
      @include gradient-grey();
      .type {
        margin-bottom: 4px;
        color: $color-text-grey;
        @include fontExo2(Medium);
      }
      .value {
        color: $color-text;
        @include fontExo2(ExtraBold);
      }
      &:hover {
        @include gradient-green();
        .type, .value {
          color: $white-text;
        }
      }
    }
  }
  &:hover {
    position: relative;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 30px 40px 0 rgba(10, 31, 68, 0.1);
  }
}

// section
.header {
  @include flex();
  & > div {
    @include flex(none, center);
    height: 88px;
  }
  .logo {
    margin-right: 134px;
    a {
      img {
        max-width: 122px;
      }
    }
  }
  .general-menu {
    ul {
      padding: 0;
      margin: 0;
      @include flex();
      li {
        list-style: none;
        margin-right: 32px;
        @include flex();
        a {
          display: block;
          position: relative;
          color: $color-menu;
          line-height: 88px;
          text-transform: uppercase;
          @include fontExo2(SemiBold);
          svg {
            fill: $grey;
          }
          &:hover {
            color: $green-dark;
            svg {
              fill: $green-dark;
            }
          }
        }
        &.premium {
          a {
            color: $gold;
            svg {
              fill: $gold;
            }
          }
        }
        &.active {
          a {
            color: $green-dark;
            &:before {
              @include before-after();
              height: 4px;
              background-color: $green;
            }
          }
        }
      }
    }
  }
  .search-bar {
  }
  .search {
    margin-left: auto;
    &-button {
      position: relative;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      overflow: hidden;
      border: $border;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0);
      span {
        @include mask();
        @include flex(center);
        @include transition();
        &.loop {
          @include gradient-grey();
        }
        &.cross {
          opacity: 0;
          @include gradient-grey(1);
        }
      }
      &.open {
        .loop {
          opacity: 0;
        }

        .cross {
          opacity: 1;
        }
      }
    }
  }
  .login {
    margin-left: auto;
    &-button {
      width: 100px;
      cursor: pointer;
      color: $white-text;
      text-transform: uppercase;
      box-shadow: 0 1px 0 0 rgba(10, 66, 44, 0);
      @include fontExo2();
      @include gradient-green();
      @include flex(none, center)
    }
  }
}
.top-section {
  padding: 0;
}
.company-slider {
  padding-top: 24px;
  .section-title {
    margin-bottom: 2px;
  }
  .slider {
    margin-right: -16px;
    .item {
      margin: 18px 15px 20px 1px;
    }
    .slick-arrow {
      top: -30px;
      right: 0;
      height: 32px;
      width: 34px;
      position: absolute;
      border: $border;
      &.slick-prev {
        border-right: none;
        margin-right: 50px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
      }
      &.slick-next {
        margin-right: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }
  }
}
.betting-center {
  height: 710px;
  position: relative;
  padding: 0 16px;
  border-top-right-radius: 6px;
  @include gradient-grey(4);
  .section-title {
    top: 19px;
    left: 16px;
    position: absolute;
  }
  .tabs-list {
    justify-content: flex-end;
    border-bottom: 1px solid $grey-lighter;
  }
  .tab-content {
    .tab-pane {
      padding-top: 15px;
    }
  }

}
.forecast-slider {
  overflow: hidden;
  margin-right: -16px;
  border-radius: 6px 0 0 6px;
  .item {
    width: 800px;
    height: 320px;
    position: relative;
    .image {
      width: 100%;
      height: 100%;
    }
    .mask {
      @include mask();
      background-color: rgba(0, 0, 0, .6);
    }
    .desc {
      left: 0;
      bottom: 0;
      font-size: 24px;
      z-index: 20;
      position: absolute;
      color: $white-text;
      padding-left: 24px;
      padding-bottom: 41px;
      text-transform: uppercase;
      span {
        color: $color-text-grey;
        font-size: 14px;
        line-height: 20px;
        @include fontExo2('SemiBold');
      }
      .title {
        margin-top: 9px;
        line-height: 30px;
        @include fontExo2('ExtraBold');
      }
      .date {
        line-height: 32px;
        letter-spacing: initial;
        @include fontExo2('Light');
      }
    }
    .more {
      bottom: 0;
      right: 0;
      padding-bottom: 26px;
      padding-right: 26px;
      position: absolute;
      color: $white-text;
      font-size: 14px;
      text-transform: uppercase;
      @include fontExo2('SemiBold');
      @include flex(center, center);
      .circle {
        width: 64px;
        height: 64px;
        margin-left: 13px;
        border-radius: 50%;
        @include gradient-green();
      }
    }
  }
  .slick-dots {
    margin: 0;
    padding: 0 0 24px 24px;
    bottom: 0;
    left: 0;
    position: absolute;
    @include flex();
    align-items: flex-end;
    li {
      height: 8px;
      width: 32px;
      line-height: 0;
      list-style: none;
      margin-right: 6px;
      position: relative;
      align-items: flex-end;
      @include flex();
      @include transition();
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        cursor: pointer;
        &.item {
          z-index: 10;
          background-color: rgba(128, 127, 134, 1);
        }
        &.progress {
          width: 0;
          z-index: 5;
          border-radius: 0;
          background-color: $green-light;
          @include transition(width 2s steps(32, end));
        }
      }
      &:hover {
        span {
          height: 8px;
        }
      }
      &.slick-active {
        span {
          &.progress {
            z-index: 15;
            width: 100%;
          }
        }
      }
    }
  }
}
.forecast-section {
  padding-top: 22px;
  background: -webkit-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -moz-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -ms-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: -o-linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  background: linear-gradient(0deg, rgba(252, 253, 253, 0) 0%, #F8F9FB 100%);
  .section-header {
    position: relative;
    @include flex(none, center);
    .section-title {
      margin-bottom: 0;
    }
    .tabs {
      &-list {
        z-index: 10;
        margin-left: auto;
        margin-right: 17px;
      }
      &-item {
        margin-right: 21px;
        a {
          @include flex(none, center);
        }
      }
    }
    &:after {
      @include forecast-border();
    }
  }
}
.school-section {
  .school-list {
    @include flex();
  }
}
