@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light.woff") format("woff"), url("../fonts/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Semi';
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold.woff") format("woff"), url("../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Extra';
  src: url("../fonts/Exo2-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Exo2-ExtraBoldItalic.woff") format("woff"), url("../fonts/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Exo 2 Extra';
  src: url("../fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/Exo2-ExtraBold.woff") format("woff"), url("../fonts/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #28292B; }

svg {
  vertical-align: baseline;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

a {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  a:hover {
    text-decoration: none; }

i.ico {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center; }

.button {
  height: 48px;
  border-radius: 28px;
  text-align: center; }
  .button-green {
    color: #ffffff;
    background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
    background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
  .button-grey {
    background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }

.preload .slick-dots li span.progress {
  width: 0 !important; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 88px; }
  .header .logo {
    margin-right: 134px; }
    .header .logo a img {
      max-width: 122px; }
  .header .general-menu ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .general-menu ul li {
      list-style: none;
      margin-right: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .general-menu ul li a {
        display: block;
        position: relative;
        color: #54535A;
        line-height: 88px;
        text-transform: uppercase;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }
        .header .general-menu ul li a svg {
          fill: #BABFC9; }
      .header .general-menu ul li a:hover {
        color: #25A96A; }
        .header .general-menu ul li a:hover svg {
          fill: #25A96A; }
      .header .general-menu ul li.premium a {
        color: #FFB90C; }
        .header .general-menu ul li.premium a svg {
          fill: #FFB90C; }
      .header .general-menu ul li.active a {
        color: #25A96A; }
        .header .general-menu ul li.active a:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 4px;
          background-color: #25C277; }
  .header .search {
    margin-left: auto; }
    .header .search-button {
      position: relative;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      overflow: hidden;
      border: 1px solid #E6E5EC;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0); }
      .header .search-button span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
        .header .search-button span.loop {
          background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
          background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%); }
        .header .search-button span.cross {
          opacity: 0;
          background: -webkit-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
          background: -moz-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
          background: -ms-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
          background: -o-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
          background: linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%); }
      .header .search-button.open .loop {
        opacity: 0; }
      .header .search-button.open .cross {
        opacity: 1; }
  .header .login {
    margin-left: auto; }
    .header .login-button {
      width: 100px;
      cursor: pointer;
      color: #ffffff;
      text-transform: uppercase;
      box-shadow: 0 1px 0 0 rgba(10, 66, 44, 0);
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
      font-style: normal;
      background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.forecast-slider {
  overflow: hidden;
  margin-right: -16px;
  border-radius: 6px 0 0 6px; }
  .forecast-slider .item {
    width: 800px;
    height: 320px;
    position: relative; }
    .forecast-slider .item .image {
      width: 100%;
      height: 100%; }
    .forecast-slider .item .mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6); }
    .forecast-slider .item .desc {
      left: 0;
      bottom: 0;
      font-size: 24px;
      z-index: 20;
      position: absolute;
      color: #ffffff;
      padding-left: 24px;
      padding-bottom: 41px;
      text-transform: uppercase; }
      .forecast-slider .item .desc span {
        color: #807F86;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Exo 2 Semi', sans-serif;
        font-weight: 600;
        font-style: normal; }
      .forecast-slider .item .desc .title {
        margin-top: 9px;
        line-height: 30px;
        font-family: 'Exo 2 Extra', sans-serif;
        font-weight: 800;
        font-style: normal; }
      .forecast-slider .item .desc .date {
        line-height: 32px;
        letter-spacing: initial;
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-style: normal; }
    .forecast-slider .item .more {
      bottom: 0;
      right: 0;
      padding-bottom: 26px;
      padding-right: 26px;
      position: absolute;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'Exo 2 Semi', sans-serif;
      font-weight: 600;
      font-style: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .forecast-slider .item .more .circle {
        width: 64px;
        height: 64px;
        margin-left: 13px;
        border-radius: 50%;
        background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
        background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%); }
  .forecast-slider .slick-dots {
    margin: 0;
    padding: 0 0 24px 24px;
    bottom: 0;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end; }
    .forecast-slider .slick-dots li {
      height: 8px;
      width: 32px;
      line-height: 0;
      list-style: none;
      margin-right: 6px;
      position: relative;
      align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
      .forecast-slider .slick-dots li span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        cursor: pointer; }
        .forecast-slider .slick-dots li span.item {
          z-index: 10;
          background-color: #807f86; }
        .forecast-slider .slick-dots li span.progress {
          width: 0;
          z-index: 5;
          border-radius: 0;
          background-color: #25D882;
          -webkit-transition: width 2s steps(32, end);
          -moz-transition: width 2s steps(32, end);
          -o-transition: width 2s steps(32, end);
          transition: width 2s steps(32, end); }
      .forecast-slider .slick-dots li:hover span {
        height: 8px; }
      .forecast-slider .slick-dots li.slick-active span.progress {
        z-index: 15;
        width: 100%; }

/*# sourceMappingURL=style.css.map */
