// Mixins

@mixin gradient-green() {
  background: -webkit-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: -moz-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: -ms-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: -o-linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
  background: linear-gradient(-225deg, #2EC652 0%, #1DBE98 100%);
}

@mixin gradient-orange() {
  background: -webkit-linear-gradient(90deg, #FFD100 0%, #FFB31B 100%);
  background: -moz-linear-gradient(90deg, #FFD100 0%, #FFB31B 100%);
  background: -ms-linear-gradient(90deg, #FFD100 0%, #FFB31B 100%);
  background: -o-linear-gradient(90deg, #FFD100 0%, #FFB31B 100%);
  background: linear-gradient(90deg, #FFD100 0%, #FFB31B 100%);
}

@mixin gradient-grey($type: none) {
  @if $type == none {
    background: -webkit-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -moz-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -ms-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: -o-linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
    background: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 100%);
  }
  @if $type == 1 {
    //dark
    background: -webkit-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
    background: -moz-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
    background: -ms-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
    background: -o-linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
    background: linear-gradient(-180deg, #F9FAFB 0%, #F4F5F6 100%);
  }
  @if $type == 2 {
    //dark-2
    background: -webkit-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
    background: -moz-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
    background: -ms-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
    background: -o-linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
    background: linear-gradient(0deg, #F9FAFB 0%, #F5F6F7 100%);
  }
  @if $type == 3 {
    //dark-3
    background: -webkit-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -moz-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -ms-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: -o-linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
    background: linear-gradient(90deg, #F9FAFB 0%, #F1F2F4 100%);
  }
  @if $type == 4 {
    background: -webkit-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
    background: -moz-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
    background: -ms-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
    background: -o-linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
    background: linear-gradient(0deg, #F9FAFA 0%, #F1F2F4 100%);
  }


}

@mixin flex($center-v: none, $center-g: none) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @if $center-v == center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @if $center-g == center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@mixin before-after() {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
}

@mixin border() {
  border: 1px solid;
}

@mixin transition($type: none) {
  @if $type == none {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  @if $type != none {
    -webkit-transition: $type;
    -moz-transition: $type;
    -o-transition: $type;
    transition: $type;
  }
}

@mixin forecast-border($color: none) {
  @if $color == gold {
    background: -webkit-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: -o-linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
    background: linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, #FFC10E 49.72%, rgba(255, 179, 27, 0) 100%);
  }
  @if $color == none {
    background: -webkit-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -ms-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: -o-linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
    background: linear-gradient(90deg, rgba(230, 233, 235, 0) 0%, #E6E9EB 50.26%, rgba(230, 233, 235, 0) 100%);
  }
  @include before-after();
  height: 2px;
  top: auto;
  bottom: 0;
}

@mixin mask() {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
