
// Colors
$green-text: #176741;
$green-darker: #248B5A;
$green-dark: #25A96A;
$green: #25C277;
$green-light: #25D882;
$green-lighter: #51ECA2;
$green-lightest: #DAF9EA;
$black-deep: #121417;
$black-text: #1B1D22;
$black-light: #2D3239;
$black-lighter: #48505C;
$black-lightest: #727B88;
$grey: #BABFC9;
$grey-light: #D1D5DB;
$grey-lighter: #E8EAED;
$grey-lightest: #F8F9FB;
$white-text: #ffffff;
$red: #F53D5B;
$gold: #FFB90C;
$color-text: #28292B;
$color-menu: #54535A;
$color-text-grey: #807F86;
$color-border: #E6E5EC;

// Socials
$social-fb: #3B5998;
$social-tw: #1DA1F2;
$social-vk: #45668E;
$social-od: #ED812B;

// Border
$border: 1px solid $color-border;
